{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="max-width: 90%" >
        <h1 class="text-left text-muted ">Choose your artist:
        <form class="form-inline my-5 my-lg-0" action="{{ path("searchResultArtist") }}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search artist" name="searchValueArtists" width="10%">
            <button class="btn btn-outline-dark my-2 my-sm-0 " type="submit">Search</button>
        </form>
        </h1>
        <div class="col-lg-12" >
    {% for artist in artists %}
        <a href="/showSong/{{artist.id}}">
            <figure class="figure">
                <img src="uploads/{{ artist.image }}" width="200px" height="300px" class="figure-img img-fluid rounded" alt="None">
                <figcaption class="figure-caption"> {{ artist.artistName }}</figcaption>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('deleteArtist',{'id': artist.id })}}">DELETE</a>
                {% endif %}
            </figure></a>
    {% endfor %}
        </div>
    </div>
{% endblock %}