{% extends 'base.html.twig' %}

{% block body %}
    {% for song in songs %}
        <p>{{ song.songName }} - {{ song.artist.artistName }} | {{ song.duration }} min,
            {{ song.size }} mB , {{ song.bitRate }} Kb/s
        </p>
        <audio controls preload="metadata" style=" width:300px;">
            <source src="uploads/{{ song.path }}" type="audio/mpeg">
            <source src="uploads/{{ song.path }}" type="audio/ogg">
            Your browser does not support the audio element.
        </audio><br/>
    {% endfor %}
{% endblock %}