<header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand" href="{{ path("home") }}"><img src="/img/logotype.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-5 mt-lg-0">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path("showStyle") }}">Styles<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("artists") }}">Artists<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("userRegister") }}">Registration<span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("addSong") }}">Add Song<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("logout") }}">Log out<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("loginAction") }}">Log in<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-5 my-lg-0" action="{{ path("searchResult") }}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search song" name="searchValue">
            <button class="btn btn-outline-dark my-2 my-sm-0 " type="submit">Search</button>
        </form>
    </div>
</nav>
</header>